**Sometime variables are categorical in nature.In such cases testing of differences of the mean is not really viable option.
When we have categorical variables we use frequencies and when we need to test categorical variables we use chi square test.**

**There is a training institute called 'WinIIT', which claims that 41 out of 100 students in its class qualify for premier engineering institutes. Normally each year only 33% students are to make it into premier engineering institutes. So should you enroll yourself in 'WinIIT'?**

* **Expectation :-** 33 out of 100 qualify for the premier institutes.
* **Observation :-** 41 out of 100 qualified.

**Null Hypothesis :-** No significant difference between observed and expected.<br/>
**Alternative Hypothesis :-** There is a significant difference between observed and expected.

In [1]:
#Importing libraries
import pandas as pd
import scipy.stats as stats
from scipy.stats import chisquare

In [2]:
#Reading a dataset
df = pd.read_csv('chi_square.csv')

In [3]:
#Printing first 5 rows
df.head()

          Event  Observed  Expected
0    Successful        41        33
1  Unsuccessful        59        67

In [4]:
#Calculate t-statistics and p-value of the chi square test
t_statistics, p_value = chisquare(f_obs=df['Observed'], f_exp=df['Expected'])

In [5]:
t_statistics

2.8946178199909545

In [6]:
p_value

0.08887585044058065

Hence p-value>0.05, we fail to reject the null hypothesis.