In [1]:
#Importing libraries
import pandas as pd
import scipy.stats as stats

In [2]:
#Loading data
df = pd.read_csv('marks.csv')

In [3]:
#Printing first 5 rows
df.head()

   Student  Overall Marks Gender    Subject
0    Anish             97   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

Let's run the t-test and calculate p-value

In [4]:
#Calculating mean
df['Overall Marks'].mean()

68.21

In [5]:
from scipy.stats import ttest_1samp
t_statistics, p_value = ttest_1samp(df['Overall Marks'], 70)

In [6]:
t_statistics

-0.6794520126211478

In [7]:
p_value

0.49843706355267914

As the p-value is greater than **0.05**, we fail to reject the null hypothesis (sample mean = population mean)