**You have two choices to go to eat. One is Hauz Khas and the other is Defence colony. You don't want to spend a lot of money, so you decided to figure out if there is a significant difference in the meal prices of these places. We use alpha = 0.05.**

**Null Hypothesis :-** The two prices are similar. i.e. Means are same<br/>
**Alternative Hypothesis :-** Prices of the two places are significantly different.

In [1]:
#Importing libraries
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind

In [2]:
#Reading a data
df = pd.read_csv('two_sample_test.csv')

In [3]:
#Printing first 5 rows
df.head()

   Hauz Khas  Defence Colony
0        180             220
1        100             200
2        120             240
3        220             180
4        160             160

In [4]:
#calculate t-statistics and p-value using two sample t-test
t_statistics, p_value = ttest_ind(df['Hauz Khas'], df['Defence Colony'], equal_var=False)

In [5]:
t_statistics

-2.569593732633792

In [6]:
p_value

0.016649998684395588

As the p-value is less than 0.05, we can reject the null hypothesis. Now we can say that there are significant difference between prices of Hauz Khas and Defence Colony.